/* page layout */

#page {
  display: grid;
  width: 100%;
  max-height: 960px;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#page > header {
  grid-area: head;
  background-color: #3c424d;
  text-align: center
}

#page > nav {
  grid-area: nav;
  background-color: #f5f6f7;
  padding: 10px;
}

#page > main {
  grid-area: main;
  background-color: lightgray;
  padding: 10px;
}

#page > footer {
  grid-area: foot;
  background-color: #f5f6f7;
}

/* updating font family */
body {
  font-family: Verdana, Arial, Sans-Serif;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 80px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #3366ff;
  color: white;
}

.browser > h1, h2, p {
  background-color: white;
  margin: 10px;
  font size: 90%;
  padding: 10px;
} 

h1 {
  color: white
}
