/* Reset box model for all elements */
* {
  box-sizing: border-box;
}
.container-header {
  box-sizing: content-box;
  align-items: center;
  text-align: center;
  float: none;
  line-height: 20px;
  padding-bottom: 10px;
}

.container-nav {
  display: flex;
}

.item {
  height: 100px;
  width: 500px; /* A fixed width as the default */
}

.item-center { 
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.item + .item { 
  margin-left: 2%; 
}

.sidebox {
  flex: 1; /* Allow sideboxes and blog content to take up equal available space */
  background-color: #1A1A2E;
  margin: 0 2%; /* Add margin between sideboxes, blog content, and the edges */
}

.sidebox + .sidebox {
  margin-left: 2%;
}

/* Set default font family and background color */
body {
  font-family: Verdana, Arial, Sans-Serif;
  padding: 20px;
  background: #1A1A2E;
}

/* Style for the header */
header {
  display:flex;
  flex-direction: column;
  padding: 40px;
  font-size: 20px;
  text-align: center;
  background: #1A1A2E;
}

/* Style for the navigation bar */
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1A1A2E;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav a:hover {
  background-color: #16213E;
  color: #0F3460;
}

.container-blog {
  display: flex;
  flex-direction: column; /* Stack items vertically on larger screens */
  align-items: center; /* Center items horizontally */
}

.blog-content {
  flex-basis: 50%; /* Set the initial size of blog content to 50% */
  align-self: center; /* Center blog content within the container */
}

/* Style for blog posts */
.article-card {
  background-color: #1A1A2E;
  padding: 20px;
  margin-top: 20px;
}


/* Create flex layout for the main content and sidebar */
.row {
  display: flex;
}

.article-card img {
  max-width: 100%; /* Make sure the image doesn't exceed its container */
  margin-bottom: 10px; /* Add spacing between the image and content */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer styling */
footer {
  padding: 20px;
  text-align: center;
  background: #1A1A2E;
  margin-top: 20px;
}

/* Styling for links/buttons */
a:link, a:visited {
  background-color: #1A1A2E;
  color: white;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #E94560;
  color: darkgray;
}

/* Additional styling for heading elements */
h1 {
  color: white;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-weight:800;
  color: #999999;
}

p,time {
  color:white;
  padding-bottom: 10px;
}

/* Responsive layout - adjust layout on smaller screens */
@media screen and (max-width: 800px) {
  .sidebox, .blog-content {
    flex: 1 100%; /* Full width on smaller screens */
    margin: 0; /* Remove margin on smaller screens */
  }
}
